/* utilities */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero__heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -0.01em;
}
.hero__description {
  line-height: 2.4rem;
}

.btn {
  font-family: "Poppins", sans-serif;
  color: #674baf;
  font-size: 1.2rem;
}

@media (min-width: 1300px) {
  body {
    font-size: 1.8rem;
    text-align: left;
  }

  .hero__heading {
    font-size: 4rem;
    line-height: 60px;
  }
  .hero__description {
    line-height: 27px;
    letter-spacing: -0.01em;
  }

  .btn {
    font-size: 1.8rem;
  }
}
/* blocks */
.header {
  margin-right: auto;
  margin-top: 3.8rem;
}
.header__logo {
  height: 1.9rem;
}

@media (min-width: 1300px) {
  .header {
    margin-top: 6.7rem;
  }
  .header__logo {
    height: 3rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #674baf;
}

@media (min-width: 1300px) {
  body {
    width: 89%;
    background-image: url(../images/bg-desktop.svg);
    background-size: auto 100%;
    min-height: 100vh;
  }
}
.hero__image {
  margin: 6rem 0 6rem;
  max-width: 70rem;
}
.hero__container {
  margin: auto;
  max-width: 40rem;
}
.hero__description {
  margin: 1rem 0;
}

@media (min-width: 1300px) {
  .hero {
    width: 100%;
    max-width: 128rem;
    display: flex;
    margin: 10rem auto 0;
  }
  .hero__image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .hero__container {
    max-width: 50rem;
    margin: 3.5rem 0 0 6rem;
  }
  .hero__description {
    margin: 1.5rem 0;
  }
}
.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.4rem;
  margin-bottom: 4rem;
}
.social__list-item {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0.3rem 0.6rem;
  border: 0.1rem white solid;
  border-radius: 100%;
  cursor: pointer;
}

.fab {
  color: white;
  width: 1em;
}

@media (min-width: 1300px) {
  .social {
    text-align: center;
  }
  .social__list {
    display: flex;
    justify-content: flex-end;
    margin: 2.7rem 0 0;
  }
  .social__list-item {
    padding: 0.5rem 0.8rem;
  }
}
.btn:link, .btn:visited {
  text-decoration: none;
  margin-top: 1.5rem;
  border: none;
  background-color: white;
  padding: 1.2rem 7rem;
  border-radius: 10rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0px rgba(0, 0, 0, 0.4);
  display: inline-block;
  transition: all 0.2s ease-out;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0.5rem 0.5rem 1rem 0px rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0.2rem 0.2rem 0.5rem 0px rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=style.css.map */
