.header {
  margin-right: auto;
  margin-top: 3.8rem;

  &__logo {
    height: 1.9rem;
  }
}

@include screen-l {
  .header {
    padding: 4.5em;
    padding-top: 3.5em;

    &__logo {
      height: 1.65em;
    }
  }
}
