.header {
  z-index: 1;
  margin-right: auto;
  margin-top: 3.8rem;

  &__logo {
    height: 1.9rem;
    animation: fade-in 1s ease-out 1.2s;
    animation-fill-mode: backwards;
  }
}

@include screen-l {
  .header {
    margin-top: 6.7rem;

    &__logo {
      height: 3rem;
    }
  }
}
