.hero {
  &__image {
    margin: 6rem 0 6rem;
    max-width: 70rem;
  }

  &__container {
    margin: auto;
    max-width: 40rem;
  }

  &__description {
    margin: 1rem 0;
  }
}

@include screen-l {
  .hero {
    width: 100%;
    max-width: 128rem;
    display: flex;
    margin: 10rem auto 0;

    &__image {
      width: 100%;
      height: auto;
      margin: 0;
    }

    &__container {
      max-width: 50rem;
      margin: 3.5rem 0 0 6rem;
    }

    &__description {
      margin: 1.5rem 0;
    }
  }
}
