@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  &__heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.01em;
  }

  &__description {
    line-height: 2.4rem;
  }
}

.btn {
  color: $Violet;
  font-size: 1.2rem;
}

@include screen-l {
  body {
    font-size: 1.8rem;
  }

  .hero {
    text-align: left;

    &__header {
      font-size: 2.5rem;
    }
  }

  .btn {
    font-size: 1rem;
  }
}
